body {
    background-color: #e8e8e8;
    color: #333333;
}

h1 {
    text-align: center;
    font-size: 50px;
    color: #2f3e46;
}

hr {
    margin: 20px 0;
}

/* Navigation Section */
nav {
    background-color: #5c6b73;
    border: 5px solid #cfd8dc;
    display: flex;
    align-items: center;


}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

nav img {
    height: 100px;
}

nav a {
    color: rgb(252, 251, 251);
    font-weight: bold;
    font-size: 20px;
    border-radius: 8px;
    transition: 0.3s;
    text-decoration: none;
}

nav a:hover {
    background-color: #8fa8b7;
    color: white;
    transition: .3s;
    padding: 10px 16px;
}

/* About Section */
.about-section {
    display: grid;
    border: 4px solid #5a5454;
    /*remve later just for length purpose*/
    grid-template-areas: "image about-container";
    grid-template-columns: 1fr 2fr;

}

.about-container {
    grid-area: about-container;
    text-align: left;
    line-height: 2.5;
    font-size: 1.3em;
    opacity: .8;

}

.about-container a {
    text-decoration: none;
}

.about-container a:hover {
    text-decoration: underline;
}

.about-section img {
    min-width: 250px;
    grid-area: image;
    border-radius: 60%;
    border: 5px solid #cfd8dc;
    align-self: center;
    justify-self: center;

}

/* Papers Section */
#papers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;

}


.paper-block {
    border: 2px solid #5a5454;
    /*remve later just for length purpose*/
    text-align: center;
    box-shadow: 0 2px 5px rgba(231, 19, 19, 0.1);
    border-radius: 25px;
    transition: transform 0.3s, background-color 0.3s;
    color: #2f3e46
}

.paper-block a {
    color: inherit;
    text-decoration: none;

}

.paper-block:hover {
    background-color: #8fa8b7;
    transition: 0.3s;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    transform: scale(1.08);
}

.hamburger {
    font-size: 50px;
    text-decoration: none;
    color: black;
    display: none;
}

/* Hobby Section*/
#hobbies {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-around;
}

.hobby-card {
    border: 1px solid #cfd8dc;
    border-radius: 50%;
    font-size: 1.3em;
    padding: 20px;
    min-width: 150px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.hobby-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);

}

#gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    margin: 20px 0;

}

.gallery-block {
    width: 100%;

    border-radius: 10px;
    border: 5px solid #5a5454;
}

.gallery-block img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/*Personal Blog Section*/
.blog-container {
    border: 4px solid #5a5454;
    border-radius: 40px;
    text-align: center;
    line-height: 2.5;
    font-size: 1.3em;
    opacity: .8;
}


.contact-container {
    display: flex;
    text-align: center;
    font-size: 1.3em;
    padding: 20px 0;
    

}

.contact-container ul {
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-between;

}

.contact-bottom {
    text-align: center;
    font-size: 1.3em;
}

@media (max-width:500px) {
    nav {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .about-section {
        grid-template-columns: 1fr;
        grid-template-areas: "image" "about-container";
        justify-items: center;
    }

    .about-container {
        text-align: center;
    }

    #papers {
        grid-template-columns: 1fr;
    }

    #navBar.responsive {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
    }
    #navBar.responsive ul{
        flex-direction: column;
    }

    #gallery {
        grid-template-columns: 1fr;
    }

    .contact-container ul {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
   
}